.app{
  min-height: 100vh;
}
.page{
  margin-top: 10%;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.file-upload {
  margin-bottom: 20px;
}

.file-input {
  display: none;
}

.custom-file-label {
  background-color: #5ca9fb;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.file-name {
  display: block;
  margin-top: 10px;
}

.btn {
  background-color: #5ca9fb;
  color: #fff;
  padding: 14px 30px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #608dfd;
}

.hidden {
  display: none;
}

.quiz-item {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 600px) {
  .quiz-content {
    padding: 20px;
    width: 90% !important;
  }
}


.footer{
  position: sticky;
  top: calc(100vh - 85px) !important;
  right: 0;
  z-index: 9999;
}